.article {
  padding: 1%;
  margin: 4%;
  border-radius: 35px;
  max-height: 550px;
  background-color: bisque;
}

.title {
  font-size: x-large;
  text-align: center;
}

.link {
  font-size: medium;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  border: solid 1px;
}

.id {
  color: gray;
}
