.card {
  background: #f8ede3;
  width: 30%;
  padding: 1%;
  margin: 1%;
  border-radius: 35px;
  max-height: 550px;
  overflow: hidden;
}

.title {
  font-size: x-large;
  text-align: center;
}

.link {
  font-size: medium;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  border: solid 1px;
}

.id {
  color: gray;
}
